.border-radius {
  border-radius: 50%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 42px;
}

h2 {
  font-size: 42px;
}

li {
  list-style-type: none;
}

p {
  font-size: 36px;
  font-style: oblique;
}

article {
  width: 100%;
}

.App {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.App-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  gap: 100px;
  padding: 50px;

  background-color: rgba(253, 207, 184, 0.363);
}

.logo {
  width: 350px;
  height: 350px;
  border: 0.5rem solid rgba(220, 70, 50, 0.284);
  border-radius: 50%;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.Menu {
  background-color: #f4beb211;
  box-shadow: 12px 12px 2px 1px #f4beb2bd;
  border-radius: 50%;
}

.navigation {
  font-style: italic;
  font-weight: 650;
}

.navigation-list {
  text-align: right;
  font-size: 36px;
  font-style: italic;
  text-decoration: underline;
}

.AboutUs {
  height: 100vh;
  background-color: rgba(118, 157, 28, 0.455);
  font-size: 36px;
  text-align: center;
  justify-self: center;
  padding: 50px;
}

.headline-small {
  padding-bottom: 50px;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(to bottom, rgb(3, 55, 68), rgb(7, 93, 4));
}

.main-part-one {
  background-color: rgba(188, 201, 132, 0.289);
  font-size: 34px;
  color: white;
  text-shadow: 1px 1px 2px pink;
  padding: 50px;
}
.main-part-two {
  background-color: rgb(188, 201, 132);
  font-size: 34px;
  text-shadow: rgba(207, 232, 243, 0.536) 1px 0 10px;
  padding: 50px;
}

.cat-li {
  list-style: none;
}
.cat-image {
  width: 400px;
}
